<template>
<div>
<Header />
        
        <div class="container-fluid">
            <router-view></router-view>
        </div>
   
<Footer />


    </div>

</template>
 
<script>
import Header from './Header.vue'
import Footer from './Footer.vue'

    export default {  
         metaInfo() {
      return {
          title: this.$route.name,
      };
  },

   metaInfo: {
      script: [
        // { src: '../assets/frontend/js/vendor/modernizr-3.6.0.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/bootstrap.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/slick.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/jquery.magnific-popup.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/waypoints.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/jquery.counterup.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/jquery.nice-select.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/jquery.nice-number.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/jquery.countdown.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/validator.min.js', async: true, defer: true },
        // { src: 'assets/frontend/js/ajax-contact.js', async: true, defer: true },
        // { src: 'assets/frontend/js/main.js', async: true, defer: true },
        // { src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ', async: true, defer: true },
        // { src: 'js/map-script.js', async: true, defer: true },
      ],
    },
        name:"App",
         components: {
        Header,Footer
    }
        
    }

    
</script>